.login-container .login-section,
.signup-container .signup-section {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 20em;
  width: 19em;
  border: 2px solid #000;
  border-radius: 1em;
  padding: 0;
}

.login-container,
.signup-container {
  width: auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container .section-title,
.signup-container .section-title {
  text-align: center;
  margin: 0;
}

.login-container input,
.signup-container input {
  margin: 0.625em;
  padding: 0.625em;
  width: 80%;
  border: 1px solid #000;
  border-radius: 0.5em;
}

.login-container .button,
.signup-container .button {
  padding: 0.625em;
  width: 80%;
  border: 1px solid #000;
  border-radius: 0.5em;
  color: #000;
  cursor: pointer;
  margin: 0.5em 1.5em;
}

.login-container .button:hover,
.signup-container .button:hover {
  background-color: #fff;
}

.login-container .login-section .login-form,
.signup-container .signup-section .signup-form {
  justify-content: center;
  align-items: center;
  margin: 0 1em 0.5em 1.6em;
}

.login-container .login-section .link,
.signup-container .signup-section .link {
  text-align: center;
  margin: 0;
}
